body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

label {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    width: 250px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

h1 {
    margin-bottom: 30px;
}

.results-container {
    margin-top: 30px;
    text-align: center;
}

.outfit {
    border: 1px solid #eee;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: inline-block; /* Allow multiple outfits per line */
    max-width: 300px; /* Adjust as needed */
    vertical-align: top; /* Align outfits at the top */
    margin-right: 10px; /* Add some space between outfits */
}

.outfit img {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
